bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates

[Nn]u[Pp]ackages/
*.nupkg
packages/

*.bak
*.tmp
*.~*
*~

.vs/
.vscode/
_ReSharper.*
*.rsuser

publish/

*.coverage
*.coveragexml

*.aps
*.ilk
*.ncb
*.opensdf
*.sdf
*.msi
*.pidb

*.log
*.dump

.idea/
*.sln.iml

.DS_Store 
